[Tt]estResults/*
packages/*
Build/*
!packages/repositories.config
testimpactdata.sdf

[Bb]in/
[Oo]bj/
*.[Ll]og
Backup*/
*Upgrade*
stylecopviolations*.xml

.idea/

# ReSharper is a .NET coding add-in
_ReSharper*
*.sln.DotSettings

*.suo
*.user
*.vsmdi
*.orig
**.nupkg
